{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Task 1: Practice Round
{% endblock %}

{% block content %}
    <p>Before playing for real, we first ask you to do a practice round.</p>
    <p>The points that you earn in this round do not affect your final score and money payment.</p>
    {% next_button %}
{% endblock %}


{% block styles %}
    <style>
        input, body {
          font-family: 'Helvetica', Arial, Lucida Grande, sans-serif;
          font-size: 14px;
        }
    </style>
{% endblock %}

