{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Task 1: Practice Round Results
{% endblock %}

{% block content %}
    <p>Your points in this practice round are {{player.dyn_realized_wealth}}. Since this was a practice round, the results do not count towards your total score and earnings.</p>

    <div id="chart" align="center"></div>

    {% next_button %}

{% endblock %}

{% block styles %}
    <style>
        input, body {
          font-family: 'Helvetica', Arial, Lucida Grande, sans-serif;
          font-size: 14px;
        }
        input{
            width: 40px;
        }
    </style>
{% endblock %}