{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
       Task 3
{% endblock %}

{% block content %}
    <p>Table below shows four alternative financial assets. The price of each asset is the same (100 units), so you can
        buy one of the four assets using your budget. Each asset pays off money amounts in four random scenarios and
        each scenario has a known probability of occuring. You are asked to choose the asset that you like the most. </p> <br>

<html>
<style>
#head{
    font-weight: bold;
}
#index{
    font-weight: bold;
}
#probs{
    font-weight: bold;
}
</style>
</html>

    <div id="table1" align="center"></div>

    {% formfield player.lottery label="Please choose your most preferred asset" %} <br>


    {% next_button %}


{% endblock %}

{% block scripts %}

    <script src="https://d3js.org/d3.v5.min.js"></script>

    <script>
        var table = d3.select("#table1").append("table");
        var probabilities = JSON.parse({{player.probabilities|json}});
        var payoff_a = JSON.parse({{ player.payoff_a|json }});
        var payoff_b = JSON.parse({{ player.payoff_b|json }});
        var payoff_c = JSON.parse({{ player.payoff_c|json }});
        var payoff_d = JSON.parse({{ player.payoff_d|json }});
        var head = table.append("thead").append("tr")
            .attr("height", "70")
            .attr("id", "head");
        head.append("td").html("State").attr("width", "100");
        head.append("td").html("Probability").attr("width", "100");
        head.append("td").html("Asset A").attr("width", "100");
        head.append("td").html("Asset B").attr("width", "100");
        head.append("td").html("Asset C").attr("width", "100");
        head.append("td").html("Asset D").attr("width", "100");
        for(i=1; i<{{ num_states|json }}+1; i++){
            probability_label = "pr_" + i;
            payoff_label = "pay_" + i;
            portfolio_label = "pf_" + i;
            var row = table.append("tr").attr("height", "40");
            row.append("td").html(i)
                .attr("width", "100");
            var probability = (probabilities[probability_label]);
            var asset_a = Math.round(payoff_a[payoff_label]);
            var asset_b = Math.round(payoff_b[payoff_label]);
            var asset_c = Math.round(payoff_c[payoff_label]);
            var asset_d = Math.round(payoff_d[payoff_label]);
            row.append("td").html(probability)
                .attr("width", "100");
            row.append("td").html(asset_a).attr("width", "100");
            row.append("td").html(asset_b).attr("width", "100");
            row.append("td").html(asset_c).attr("width", "100");
            row.append("td").html(asset_d).attr("width", "100");
        };

     </script>

{% endblock %}

{% block styles %}
    <style>
        table, th, td {
            border: 1px solid black;
            text-align: center;
        }
        div {margin-top: 50px}
        input{
            width: 40px;
        }
    </style>
{% endblock %}

