{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Task 1. Instructions
{% endblock %}

{% block content %}
    <p>Once you have finished reading the instructions, scroll down and press the “Next” button.</p>
    <p>If you see a blank page please reload the page (Ctrl+R for PC, Command+R for Mac) until you see the PDF with instructions</p>
    <br>

 {% if player.iid_probs == 1 %}
    <iframe src="https://drive.google.com/file/d/16gBznOLRLqxyA3Vk9ergEgPYsaE_vZgi/preview" width="640" height="480" allow="autoplay"></iframe>
{% else %}
    <iframe src="https://drive.google.com/file/d/10g7ptOeY9c1RapepKKaKN_NE1YHhe3Yz/preview" width="640" height="480" allow="autoplay"></iframe>
{% endif %}

    {% next_button %}
{% endblock %}

{% block styles %}
    <style>
        iframe {
            width: 100%;
            height: 85vh;
            padding-bottom: 15px;
        }
    </style>
{% endblock %}
