{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Welcome !
{% endblock %}

{% block subtitle %}
    Data Privacy Consent
{% endblock %}

{% block content %}
    <h5>Data Usage</h5>
    We are kindly requesting you to participate in a financial choice experiment. During the experiment we will ask you
    to complete a very short demographic survey (your gender and educational major). The experiment is anonymous -
    we do not collect your name or any other data that can reveal your identity. We also keep the data on a password
    protected computer and destroy the data within three years from now.  You may earn real money in the experiment
    but you are not exposed to risk of losing money from your own pocket. The experiment does not play a role in the
    grading of this course and you are free to refuse to participate if you have objections.<br>
    <br>
    Before proceeding to the experiment please complete the data privacy consent form below.<br>
    <br>
    <h5>Data Privacy Consent</h5> <br>
    <h6>I hereby confirm that I participate in this experimental research project on a voluntary basis and give my permission</h6>
    <h6>to process my data (gender and major) and choices which I made and use them for academic research.</h6> <br>


    {% formfields %} <br>

    {% next_button %}

{% endblock %}
