{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Welcome !
{% endblock %}

{% block content %}
    <h5>Dear Participant,</h5>
    We are a group of researchers from Nazarbayev University studying investment decision-making and its behavioral
    aspects. The research intends to study how individuals construct their investment portfolios in a dynamic setup.
    Before proceeding with the survey, we strongly recommend you familiarize yourself with the information below.<br>
    <br>
    <b>Procedures:</b> To perform the research, we are conducting an online experiment. In order to participate in the
    experiment, you should complete all tasks presented in this web interface. <b>Your participation is voluntary, and you
    can withdraw at any time.</b> This experiment is confidential and takes approximately 40-80 minutes to complete.<br>
    <br>
    <b>Risks:</b> No significant risks for experiment participants have been identified during the elaboration of the
    tasks.<br>
    <br>
    <b>Benefits:</b> By conducting this research, we want to contribute to the general knowledge of behavioral finance.
    The findings of this study will be helpful for policymakers interested in designing decision support tools
    and investment advisors creating investment products that cater to the needs of different types of investors.<br>
    <br>
    <b>Compensation:</b> All participants of our experiment will get <b>additional 1%</b> to the total grade of BUS 101
    course. Moreover, among the participants, we will <b>randomly choose 5 participants to win money prizes</b> (money amounts
    depend on points collected during the experiment, typical amounts lie in the range between 10,000 KZT and 50,000
    KZT). Please provide your NU ID to participate in the lottery. Additionally, we can provide you with a copy of the
    research results that will be available after the completion of the study.<br>
    <br>
    <b>Points of Contact:</b> In case of any questions and/or comments regarding this project and/or research-related
    inquiries, you may contact the researchers:<br>
    Thierry Post tpost@nu.edu.kz<br>
    Askhat Omar askhat.omar@nu.edu.kz<br>
    <br>
    Any other questions or concerns may be addressed to the Nazarbayev University Institutional Research Ethics
    Committee, resethics@nu.edu.kz.<br>
    <br>
    Before proceeding to the experiment, please complete the data privacy consent form below.<br>
    <br>
    <h5>Data Privacy Consent</h5> <br>
    <h6>I hereby confirm that I voluntarily participate in this experimental research project and give my permission to</h6>
    <h6>process the data and choices I made and use them for academic research.</h6> <br>


    {% formfields %} <br>

    {% next_button %}

{% endblock %}
