{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Task 1
{% endblock %}

{% block content %}
    <p>Please make sure that you press Next only after filling the <strong>entire tree.</strong></p>
    <p>Please choose an amount S to invest in stocks. Fill only white S boxes, grey boxes will be calculated
        automatically.</p>

    <div id="chart" align="center"></div>

    {% next_button %}
    <input type="hidden" name="dyn_stock" id="id_stock"/>
    {{ form.dyn_stock.errors }}
    <input type="hidden" name="dyn_bond" id="id_bond"/>
    {{ form.dyn_bond.errors }}
    <input type="hidden" name="dyn_wealth" id="id_wealth"/>
    {{ form.dyn_wealth.errors }}

{% endblock %}

{% block scripts %}

    <script src="https://d3js.org/d3.v5.min.js"></script>

    <script>

        d3.select("#chart")
            .attr("align","center");



        var N = 4;
        var vOffset = 90;
        var hOffset = 270;
        var rootXoffset = 50;
        var rootYoffset = 75 * N;
        var width = rootXoffset + hOffset * N;
        var height = rootYoffset + vOffset * N + 30;
        var rectWidth = 210;
        var rectHeight = 70;

        var prices = JSON.parse({{dyn_prices|json}});

        var svg = d3.select("#chart")
            .append("svg")
            .attr("width", width)
            .attr("height", height);


        svg.append("svg:defs").append("svg:marker")
            .attr("id", "triangle")
            .attr("refX", 13)
            .attr("refY", 6)
            .attr("markerWidth", 30)
            .attr("markerHeight", 30)
            .attr("markerUnits","userSpaceOnUse")
            .attr("orient", "auto")
            .append("path")
            .attr("d", "M 0 0 12 6 0 12 3 6")
            .style("fill", "black");

        var i,j;
        var textbox;
        var startX;
        var startY;
        var targetX;
        var targetY;
        var targX;
        var targYup;
        var targYdown;
        var rectX;
        var rectY;

        // first draw lines
        for(i=0; i<N-1; i++) {
            for(j=1; j<(i+1)+1; j++) {
                startX = rootXoffset + hOffset * i + rectWidth;
                startY = rootYoffset - vOffset * i + (2*vOffset) * (j-1) + rectHeight/2;
                targX = rootXoffset + hOffset * (i+1);
                targYdown = startY + 90;
                targYup = startY - 90;
                svg.append("line")
                    .attr("x1", startX)
                    .attr("y1", startY)
                    .attr("x2", targX)
                    .attr("y2", targYup)
                    .attr("stroke-width", 1)
                    .attr("stroke", "black")
                    .attr("marker-end", "url(#triangle)");
                svg.append("line")
                    .attr("x1", startX)
                    .attr("y1", startY)
                    .attr("x2", targX)
                    .attr("y2", targYdown)
                    .attr("stroke-width", 1)
                    .attr("stroke", "black")
                    .attr("marker-end", "url(#triangle)");

                svg.append("text").html(0.5)
                    .attr("x", (startX + targX) / 2 - 20)
                    .attr("y", (startY + targYup) / 2 - 5);

                svg.append("text").html(0.5)
                    .attr("x", (startX + targX) / 2 - 20)
                    .attr("y", (startY + targYdown) / 2 + 15);
            }
        }


        // ... and rectangles and their labels
        for(i=0; i<N; i++) {
            for(j=1; j<(i+1)+1; j++) {

                wealth_label = "w_" + i + "_" + j;
                stock_label = "s_" + i + "_" + j;
                bond_label = "b_" + i + "_" + j;
                price_label = "x_" + i + "_" + j;

                rectX = rootXoffset + hOffset * i;
                rectY = rootYoffset - vOffset * i + (2*vOffset) * (j-1);

                if(i==3){
                    svg.append("rect")
                    .attr("x", rectX)
                    .attr("y", rectY - 23/2)
                    .attr("width", rectWidth-75)
                    .attr("height", rectHeight+23)
                    .attr("ry", 5)
                    .style("stroke", "black")
                    .style("fill", "white");

                    fo = svg.append("foreignObject")
                        .attr("x",rectX+1)
                        .attr("y",rectY+5-23/2)
                        .attr("width",rectWidth-80)
                        .attr("height",rectHeight+18);
                    tab = fo.append("xhtml:table");

                    var row1 = tab.append("tr");
                    row1.append("td").html("Price_S: ");
                    row1.append("td").append("xhtml:input")
                        .attr("size",3)
                        .attr("value",prices[price_label])
                        .attr("readonly","readonly");

                    var row2 = tab.append("tr");
                    row2.append("td").html("Money:");
                    row2.append("td").append("xhtml:input")
                        .attr("size",3)
                        .attr("id",wealth_label)
                        .attr("class","wealth")
                        .attr("type","number")
                        .attr("step", 0.01)
                        .attr("min", 0);

                    var row3 = tab.append("tr");
                    row3.append("td").html("Prob:");
                    row3.append("td").append("xhtml:input")
                        .attr("size", 3)
                        .attr("id", "prob_3_"+j)
                        .attr("readonly","readonly");

                } else {
                    svg.append("rect")
                    .attr("x", rectX)
                    .attr("y", rectY)
                    .attr("width", rectWidth)
                    .attr("height", rectHeight)
                    .attr("ry", 5)
                    .style("stroke", "black")
                    .style("fill", "white");

                    fo = svg.append("foreignObject")
                        .attr("x",rectX+1)
                        .attr("y",rectY+5)
                        .attr("width",rectWidth-5)
                        .attr("height",rectHeight-5);
                    tab = fo.append("xhtml:table");

                    var row1 = tab.append("tr");
                    row1.append("td").html("Price_S: ");
                    row1.append("td").append("xhtml:input")
                        .attr("size",3)
                        .attr("value",prices[price_label])
                        .attr("readonly","readonly");
                    row1.append("td").html("S: ");
                    if(j==1){
                        row1.append("td").append("xhtml:input")
                        .attr("size",1)
                        .attr("id",stock_label)
                        .attr("type","number")
                        .attr("step","1")
                        .attr("required","required");
                    } else {
                        row1.append("td").append("xhtml:input")
                        .attr("size",1)
                        .attr("id",stock_label)
                        .attr("type","number")
                        .attr("step",0.01)
                        .attr("readonly","readonly");
                    };
                    var row2 = tab.append("tr");
                    row2.append("td").html("Money:");
                    row2.append("td").append("xhtml:input")
                        .attr("size",3)
                        .attr("id",wealth_label)
                        .attr("class","wealth")
                        .attr("type","number")
                        .attr("step", 0.01)
                        .attr("min", 0);
                    row2.append("td").html("C: ");
                    row2.append("td").append("xhtml:input")
                        .attr("size",3)
                        .attr("type", "number")
                        .attr("step", 0.01)
                        .attr("id",bond_label)
                        .attr("readonly","readonly");
                };


            }
        }


    </script>

    <script>
    var terminal_probs = {{Constants.terminal_probs|json}};
    $("#w_0_1").val({{Constants.initial_wealth}});
    $("#prob_3_1").val({{Constants.terminal_probs}}[0]);
    $("#prob_3_2").val({{Constants.terminal_probs}}[1]);
    $("#prob_3_3").val({{Constants.terminal_probs}}[2]);
    $("#prob_3_4").val({{Constants.terminal_probs}}[3]);

    </script>


    <script>

    function debounce(func, timeout = 500){
      let timer;
      return (...args) => {
        clearTimeout(timer);
        timer = setTimeout(() => { func.apply(this, args); }, timeout);
      };
    }
    const stock_list = {};
    const wealth_list = {};
    const bond_list = {};

    function case1(current_s_id) {
        let s_1_1_id = "s_1_1";
        let s_1_2_id = "s_1_2";
        let s_2_1_id = "s_2_1";
        let s_2_2_id = "s_2_2";
        let s_2_3_id = "s_2_3";
        let w_0_1_id = "w_0_1";
        let w_1_1_id = "w_1_1";
        let w_1_2_id = "w_1_2";
        let w_2_1_id = "w_2_1";
        let w_2_2_id = "w_2_2";
        let w_2_3_id = "w_2_3";
        let w_3_1_id = "w_3_1";
        let w_3_2_id = "w_3_2";
        let w_3_3_id = "w_3_3";
        let w_3_4_id = "w_3_4";
        let b_0_1_id = "b_0_1";
        let b_1_1_id = "b_1_1";
        let b_1_2_id = "b_1_2";
        let b_2_1_id = "b_2_1";
        let b_2_2_id = "b_2_2";
        let b_2_3_id = "b_2_3";
        let s_0_1 = parseInt($(`#${current_s_id}`).val());
        let w_0_1 = {{Constants.initial_wealth|json}};
        let b_0_1 = w_0_1 - s_0_1;
        let w_1_1 = {{Constants.up_tick}} * s_0_1 + b_0_1;
        let w_1_2 = {{Constants.down_tick}} * s_0_1 + b_0_1;
        w_1_1 = w_1_1.toFixed(2);
        w_1_2 = w_1_2.toFixed(2);
        let s_1_1 = parseInt($(`#${s_1_1_id}`).val());
        let b_1_1 = w_1_1 - s_1_1;
        let w_2_1 = {{Constants.up_tick}} * s_1_1 + b_1_1;
        let w_2_2 = {{Constants.down_tick}} * s_1_1 + b_1_1;
        w_2_1 = w_2_1.toFixed(2);
        w_2_2 = w_2_2.toFixed(2);
        let s_1_2 = w_2_2 - w_1_2;
        let b_1_2 = w_1_2 - s_1_2;
        let w_2_3 = {{Constants.down_tick}} * s_1_2 + b_1_2;
        w_2_3 = w_2_3.toFixed(2);
        let s_2_1 = parseInt($(`#${s_2_1_id}`).val());
        let b_2_1 = w_2_1 - s_2_1;
        let w_3_1 = {{Constants.up_tick}} * s_2_1 + b_2_1;
        let w_3_2 = {{Constants.down_tick}} * s_2_1 + b_2_1;
        w_3_1 = w_3_1.toFixed(2);
        w_3_2 = w_3_2.toFixed(2);
        let s_2_2 = w_3_2 - w_2_2;
        let b_2_2 = w_2_2 - s_2_2;
        let w_3_3 = {{Constants.down_tick}} * s_2_2 + b_2_2;
        w_3_3 = w_3_3.toFixed(2);
        let s_2_3 = w_3_3- w_2_3;
        let b_2_3 = w_2_3 - s_2_3;
        let w_3_4 = {{Constants.down_tick}} * s_2_3 + b_2_3;
        w_3_4 = w_3_4.toFixed(2);
        $(`#${s_1_2_id}`).val(s_1_2);
        $(`#${s_2_2_id}`).val(s_2_2);
        $(`#${s_2_3_id}`).val(s_2_3);
        $(`#${b_0_1_id}`).val(b_0_1);
        $(`#${b_1_1_id}`).val(b_1_1);
        $(`#${b_1_2_id}`).val(b_1_2);
        $(`#${b_2_1_id}`).val(b_2_1);
        $(`#${b_2_2_id}`).val(b_2_2);
        $(`#${b_2_3_id}`).val(b_2_3);
        $(`#${w_0_1_id}`).val(w_0_1);
        $(`#${w_1_1_id}`).val(w_1_1);
        $(`#${w_1_2_id}`).val(w_1_2);
        $(`#${w_2_1_id}`).val(w_2_1);
        $(`#${w_2_2_id}`).val(w_2_2);
        $(`#${w_2_3_id}`).val(w_2_3);
        $(`#${w_3_1_id}`).val(w_3_1);
        $(`#${w_3_2_id}`).val(w_3_2);
        $(`#${w_3_3_id}`).val(w_3_3);
        $(`#${w_3_4_id}`).val(w_3_4);
        for(i=0; i<N; i++) {
            for(j=1; j<(i+1)+1; j++) {
                let wealth_id = "w_"+i+"_"+j;
                let wealth = parseFloat($(`#${wealth_id}`).val());
                wealth_list[wealth_id] = wealth;
            };
        };
        for(i=0; i<(N-1); i++) {
            for(j=1; j<(i+1)+1; j++) {
                let stock_id = "s_"+i+"_"+j;
                let bond_id = "b_"+i+"_"+j;
                let stock = parseFloat($(`#${stock_id}`).val());
                let bond = parseFloat($(`#${bond_id}`).val());
                stock_list[stock_id] = stock;
                bond_list[bond_id] = bond;
            };
        };
    };

    function case2(current_s_id) {
        let s_1_2_id = "s_1_2";
        let s_2_1_id = "s_2_1";
        let s_2_2_id = "s_2_2";
        let s_2_3_id = "s_2_3";
        let w_1_1_id = "w_1_1";
        let w_1_2_id = "w_1_2";
        let w_2_1_id = "w_2_1";
        let w_2_2_id = "w_2_2";
        let w_2_3_id = "w_2_3";
        let w_3_1_id = "w_3_1";
        let w_3_2_id = "w_3_2";
        let w_3_3_id = "w_3_3";
        let w_3_4_id = "w_3_4";
        let b_1_1_id = "b_1_1";
        let b_1_2_id = "b_1_2";
        let b_2_1_id = "b_2_1";
        let b_2_2_id = "b_2_2";
        let b_2_3_id = "b_2_3";
        let s_1_1 = parseInt($(`#${current_s_id}`).val());
        let w_1_1 = parseFloat($(`#${w_1_1_id}`).val());
        let b_1_1 = w_1_1 - s_1_1;
        let w_2_1 = {{Constants.up_tick}} * s_1_1 + b_1_1;
        let w_2_2 = {{Constants.down_tick}} * s_1_1 + b_1_1;
        w_2_1 = w_2_1.toFixed(2);
        w_2_2 = w_2_2.toFixed(2);
        let w_1_2 = parseFloat($(`#${w_1_2_id}`).val());
        let s_1_2 = w_2_2 - w_1_2;
        let b_1_2 = w_1_2 - s_1_2;
        let w_2_3 = {{Constants.down_tick}} * s_1_2 + b_1_2;
        w_2_3 = w_2_3.toFixed(2);
        let s_2_1 = parseInt($(`#${s_2_1_id}`).val());
        let b_2_1 = w_2_1 - s_2_1;
        let w_3_1 = {{Constants.up_tick}} * s_2_1 + b_2_1;
        let w_3_2 = {{Constants.down_tick}} * s_2_1 + b_2_1;
        w_3_1 = w_3_1.toFixed(2);
        w_3_2 = w_3_2.toFixed(2);
        let s_2_2 = w_3_2 - w_2_2;
        let b_2_2 = w_2_2 - s_2_2;
        let w_3_3 = {{Constants.down_tick}} * s_2_2 + b_2_2;
        w_3_3 = w_3_3.toFixed(2);
        let s_2_3 = w_3_3- w_2_3;
        let b_2_3 = w_2_3 - s_2_3;
        let w_3_4 = {{Constants.down_tick}} * s_2_3 + b_2_3;
        w_3_4 = w_3_4.toFixed(2);
        $(`#${s_1_2_id}`).val(s_1_2);
        $(`#${s_2_2_id}`).val(s_2_2);
        $(`#${s_2_3_id}`).val(s_2_3);
        $(`#${b_1_1_id}`).val(b_1_1);
        $(`#${b_1_2_id}`).val(b_1_2);
        $(`#${b_2_1_id}`).val(b_2_1);
        $(`#${b_2_2_id}`).val(b_2_2);
        $(`#${b_2_3_id}`).val(b_2_3);
        $(`#${w_2_1_id}`).val(w_2_1);
        $(`#${w_2_2_id}`).val(w_2_2);
        $(`#${w_2_3_id}`).val(w_2_3);
        $(`#${w_3_1_id}`).val(w_3_1);
        $(`#${w_3_2_id}`).val(w_3_2);
        $(`#${w_3_3_id}`).val(w_3_3);
        $(`#${w_3_4_id}`).val(w_3_4);
        for(i=0; i<N; i++) {
            for(j=1; j<(i+1)+1; j++) {
                let wealth_id = "w_"+i+"_"+j;
                let wealth = parseFloat($(`#${wealth_id}`).val());
                wealth_list[wealth_id] = wealth;
            };
        };
        for(i=0; i<(N-1); i++) {
            for(j=1; j<(i+1)+1; j++) {
                let stock_id = "s_"+i+"_"+j;
                let bond_id = "b_"+i+"_"+j;
                let stock = parseFloat($(`#${stock_id}`).val());
                let bond = parseFloat($(`#${bond_id}`).val());
                stock_list[stock_id] = stock;
                bond_list[bond_id] = bond;
            };
        };
    };

    function case3(current_s_id) {
        let s_2_2_id = "s_2_2";
        let s_2_3_id = "s_2_3";
        let w_2_1_id = "w_2_1";
        let w_2_2_id = "w_2_2";
        let w_2_3_id = "w_2_3";
        let w_3_1_id = "w_3_1";
        let w_3_2_id = "w_3_2";
        let w_3_3_id = "w_3_3";
        let w_3_4_id = "w_3_4";
        let b_2_1_id = "b_2_1";
        let b_2_2_id = "b_2_2";
        let b_2_3_id = "b_2_3";
        let s_2_1 = parseInt($(`#${current_s_id}`).val());
        let w_2_1 = parseFloat($(`#${w_2_1_id}`).val());
        let b_2_1 = w_2_1 - s_2_1;
        let w_3_1 = {{Constants.up_tick}} * s_2_1 + b_2_1;
        let w_3_2 = {{Constants.down_tick}} * s_2_1 + b_2_1;
        w_3_1 = w_3_1.toFixed(2);
        w_3_2 = w_3_2.toFixed(2);
        let w_2_2 = parseFloat($(`#${w_2_2_id}`).val());
        let s_2_2 = w_3_2 - w_2_2;
        let b_2_2 = w_2_2 - s_2_2;
        let w_3_3 = {{Constants.down_tick}} * s_2_2 + b_2_2;
        w_3_3 = w_3_3.toFixed(2);
        let w_2_3 = parseFloat($(`#${w_2_3_id}`).val());
        let s_2_3 = w_3_3 - w_2_3;
        let b_2_3 = w_2_3 - s_2_3;
        let w_3_4 = {{Constants.down_tick}} * s_2_3 + b_2_3;
        w_3_4 = w_3_4.toFixed(2);
        $(`#${s_2_2_id}`).val(s_2_2);
        $(`#${s_2_3_id}`).val(s_2_3);
        $(`#${b_2_1_id}`).val(b_2_1);
        $(`#${b_2_2_id}`).val(b_2_2);
        $(`#${b_2_3_id}`).val(b_2_3);
        $(`#${w_3_1_id}`).val(w_3_1);
        $(`#${w_3_2_id}`).val(w_3_2);
        $(`#${w_3_3_id}`).val(w_3_3);
        $(`#${w_3_4_id}`).val(w_3_4);
        for(i=0; i<N; i++) {
            for(j=1; j<(i+1)+1; j++) {
                let wealth_id = "w_"+i+"_"+j;
                let wealth = parseFloat($(`#${wealth_id}`).val());
                wealth_list[wealth_id] = wealth;
            };
        };
        for(i=0; i<(N-1); i++) {
            for(j=1; j<(i+1)+1; j++) {
                let stock_id = "s_"+i+"_"+j;
                let bond_id = "b_"+i+"_"+j;
                let stock = parseFloat($(`#${stock_id}`).val());
                let bond = parseFloat($(`#${bond_id}`).val());
                stock_list[stock_id] = stock;
                bond_list[bond_id] = bond;
            };
        };
    };

    function Task_Logic(e) {
        const current_s_id = e.target.id
        const stocks = []
        switch(current_s_id){
            case "s_0_1":
                case1(current_s_id);
                break
            case "s_1_1":
                case2(current_s_id);
                break
            case "s_2_1":
                case3(current_s_id);
                break
        };

        $("#id_stock").val(JSON.stringify(stock_list));
        $("#id_wealth").val(JSON.stringify(wealth_list));
        $("#id_bond").val(JSON.stringify(bond_list));


    };
    const processChange = debounce(Task_Logic);

    $("input").on("input", processChange);
    </script>

    <script>
        $(".wealth").on('keydown paste', function(e){
            e.preventDefault();
        });
    </script>

    <script>
        $(document).ready(function() {
        $(window).keydown(function(event){
        if(event.keyCode == 13) {
          event.preventDefault();
          return false;
        }
        });
        });
    </script>

{% endblock %}

{% block styles %}
    <style>
        input, body {
          font-family: 'Helvetica', Arial, Lucida Grande, sans-serif;
          font-size: 14px;
        }
        input{
            width: 60px;
        }
        #s_1_2 {
            background-color: #D3D3D3;
        }
        #s_2_2 {
            background-color: #D3D3D3;
        }
        #s_2_3 {
            background-color: #D3D3D3;
        }
    </style>
{% endblock %}

