{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
       Task 3
{% endblock %}

{% block content %}
    <p>Table below shows four alternative financial assets. The price of each asset is the same (100 units), so you can
        buy one of the four assets using your budget. Each asset pays off money amounts in four random scenarios and
        each scenario has a known probability of occuring. You are asked to choose the asset that you like the most.
        Choosing asset "A" means that you do not invest in a risky asset and you keep the 100 units without risk.</p> <br>

<html>
<style>
.parent {
    position: relative;
    height: 50vh;
    width: 50vw;
}
.child {
    position: relative;
    height: 60vh;
    width: 50vw;
}
.grand {
    position: absolute;
    height: 60vh;
    width: 50vw;
}
.parent table {
    position: absolute;
    top: 0px;
    left: 550px;
    border: none;
}
.child table {
    position: absolute;
    top: 240px;
    left: 40px;
    border: 1px solid black;
}
.grand table {
    position: absolute;
    top: 65px;
    left: 400px;
    border: none;
}
th, td {
    border: none
}
.parent svg {position: absolute;
top: 0px;
left: 0px}
</style>
<body>
<div class="parent">
    <svg width="600" height="500">
        <defs>
            <marker id="arrow" viewBox="0 -5 10 10" refX="5" refY="0" markerWidth="4" markerHeight="4" orient="auto">
            <path class="cool" d="M0,-5L10,0L0,5" class="arrowHead"></path>
            </marker>
        </defs>
    <line class="cool" x1="200" y1="269" x2="540" y2="445" stroke="black" stroke-width="1.5" marker-end="url(#arrow)"></line>
    </svg>

    <svg width="600" height="500">
        <defs>
            <marker id="arrow" viewBox="0 -5 10 10" refX="5" refY="0" markerWidth="4" markerHeight="4" orient="auto">
            <path class="cool" d="M0,-5L10,0L0,5" class="arrowHead"></path>
            </marker>
        </defs>
    <line class="cool" x1="200" y1="269" x2="540" y2="335" stroke="black" stroke-width="1.5" marker-end="url(#arrow)"></line>
    </svg>

    <svg width="600" height="500">
        <defs>
            <marker id="arrow" viewBox="0 -5 10 10" refX="5" refY="0" markerWidth="4" markerHeight="4" orient="auto">
            <path class="cool" d="M0,-5L10,0L0,5" class="arrowHead"></path>
            </marker>
        </defs>
    <line class="cool" x1="200" y1="269" x2="540" y2="225" stroke="black" stroke-width="1.5" marker-end="url(#arrow)"></line>
    </svg>

    <svg width="600" height="500">
        <defs>
            <marker id="arrow" viewBox="0 -5 10 10" refX="5" refY="0" markerWidth="4" markerHeight="4" orient="auto">
            <path class="cool" d="M0,-5L10,0L0,5" class="arrowHead"></path>
            </marker>
        </defs>
        <line class="cool" x1="200" y1="269" x2="540" y2="110" stroke="black" stroke-width="1.5" marker-end="url(#arrow)"></line>
    </svg>

    <table style="width:350px">
        <tr>
        <th colspan="5">FINANCIAL ASSETS</th>
        </tr>
        <tr>
            <th>Scenarios</th>
            <th>Asset A</th>
            <th>Asset B</th>
            <th>Asset C</th>
            <th>Asset D</th>
        </tr>
        <tr style="height:110px">
            <td><strong>Scenario 1</strong></td>
            <td>100.00</td>
            <td>139.99</td>
            <td>{{ w_1 }}</td>
            <td>337.50</td>
        </tr>
        <tr style="height:110px">
            <td><strong>Scenario 2</strong></td>
            <td>100.00</td>
            <td>117.71</td>
            <td>{{ w_2 }}</td>
            <td>168.75</td>
        </tr>
        <tr style="height:110px">
            <td><strong>Scenario 3</strong></td>
            <td>100.00</td>
            <td>98.99</td>
            <td>{{ w_3 }}</td>
            <td>84.38</td>
        </tr>
        <tr style="height:110px">
            <td><strong>Scenario 4</strong></td>
            <td>100.00</td>
            <td>83.24</td>
            <td>{{ w_4 }}</td>
            <td>42.19</td>
        </tr>
    </table>
    <div class="child">
        <table style="width:160px">
            <tr>
                <th>$S:</th>
                <td>100.00</td>
            </tr>
            <tr>
                <th>Money:</th>
                <td>100.00</td>
            </tr>
        </table>
        <div class="grand">
            <table style="width:50px">
                <tr style="height: 60px">
                    <td>0.125</td>
                </tr>
                <tr style="height: 95px">
                    <td>0.375</td>
                </tr>
                <tr style="height: 60px">
                    <td>0.375</td>
                </tr>
                <tr style="height: 70px">
                    <td>0.125</td>
                </tr>
            </table>
        </div>
    </div>
</div>



    {% formfield player.lottery label="Please choose your most preferred asset" %} <br>


    {% next_button %}


{% endblock %}



{% block styles %}
    <style>
        table, th, td {
            border: 1px solid black;
            text-align: center;
        }
        div {margin-top: 50px}
        input{
            width: 40px;
        }
    </style>
{% endblock %}

